fastapi
uvicorn[standard]
python-dotenv
pydantic
langchain
# langchain-google-generative-ai
langchain-google-genai

langchain-community
langchain-classic
langchain-core
langchain-text-splitters
faiss-cpu
pypdf